<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le comérage en folie !</h1>
    <h1> </h1>
    <h1>Voici le comérage n°<%=index%></h1>
    <h1> </h1>
    <p>
      <%= gossip.author %><br/>
      <%= gossip.content %>
    </p>    
  </body>
</html>